<div class="block app-block-footer block-inverse bg-blue-gradient">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Network</h6></li>
          <li><a href="https://loomx.io" target="_blank" class="text-light hover-warning">Loom Network</a></li>
          <li><a href="https://EthFiddle.com" target="_blank" class="text-light hover-warning">EthFiddle</a></li>
          <li><a href="https://EthDeploy.com" target="_blank" class="text-light hover-warning">EthDeploy</a></li>
          <li><a href="https://cryptozombies.io" target="_blank" class="text-light hover-warning">Cryptozombies</a></li>
          <li><a href="https://solidityx.org" target="_blank" class="text-light hover-warning">SolidityX</a></li>
          <li><a href="https://delegatecall.com" target="_blank" class="text-light hover-warning">Delegatecall</a></li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Information</h6></li>
<!--
          <li><a href="/whitepaper/whitepaper.pdf" target="_blank" class="text-light hover-warning">Whitepaper</a></li> -->
          <li><a href="https://github.com/loomnetwork" target="_blank" class="text-light hover-warning"><i class="fab fa-github"></i> Github</a></li>
          <li><a href="https://medium.com/loom-network" target="_blank" class="text-light hover-warning"><i class="fab fa-medium"></i> Medium</a></li>
          <li><a href="https://angel.co/loom-network-1" target="_blank" class="text-light hover-warning"><i class="fab fa-angellist"></i> Angel.co</a></li>
        </ul>
      </div>
      <div class="col-sm-2 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Contact</h6></li>
          <li><a href="mailto:hiring@loomx.io" target="_blank" class="text-light hover-warning"><i class="fas fa-user-circle"></i> Jobs</a></li>
          <li><a href="mailto:satoshi@loomx.io" target="_blank" class="text-light hover-warning"><i class="fas fa-envelope"></i> Email</a></li>
          <li><a href="https://twitter.com/loomnetwork" target="_blank" class="text-light hover-warning"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://t.me/loomnetwork" target="_blank" class="text-light hover-warning"><i class="fab fa-telegram"></i> Telegram</a></li>
        </ul>
      </div>
       <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>Loom Network is a Platform as a Service built on top of Ethereum that allows developers to run large-scale decentralized applications. This lets developers build DApps with the trust and security of the world’s most secure public blockchain, along with the computing resources necessary to run commercial-scale services. Like how Filecoin tokenized disk space, Loom aims to be the tokenized application protocol of the new decentralized web.</p>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<%# OptinMonster %>
<script>var om_load_jquery = false; var om42565_37272,om42565_37272_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){om42565_37272_poll(function(){if(window['om_loaded']){if(!om42565_37272){om42565_37272=new OptinMonsterApp();return om42565_37272.init({"a":37272,"staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="https://a.optnmstr.com/app/js/api.min.js",o.async=true,o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;om42565_37272=new OptinMonsterApp();om42565_37272.init({"a":37272,"staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script>
<%# End OptinMonster %>

<script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
<%= javascript_include_tag "main.bundle" %>
