<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=yes, user-scalable=0">

  <title>SolidityX - Secure-by-default superset of Solidity</title>
  <meta name="description" content="A typed-superset of Solidity, that compiles down with all the latest security workarounds.">
  <!--Favicon-->
  <link rel="icon" href="favicon/favicon.ico">

  <!--Description-->
  <meta property="og:title" content="SolidityX - Secure-by-default superset of Solidity" />
  <meta property="og:description" content="A typed-superset of Solidity, that compiles down with all the latest security workarounds." />
  <meta property="og:url" content="//solidityx.org/" />
  <meta property="og:image" content="https://loomx.io/images/solidityx-banner.jpg" />
  <meta name="author" content="Loom Network">
  <meta name="twitter:card" content="summary">
  <!-- Scripts -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108071653-4"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108071653-4');
  </script>

  <%= stylesheet_link_tag "main.bundle" %>
</head>
