---
layout: solidityx_layout
optional_title: SolidityX
menu:
  -
    href: 'https://solidityx.org'
    title: 'SolidityX'
  -
    href: 'https://app.monstercampaigns.com/c/ig55ebay3gkjtbdhg0yh/'
    title: 'Sign Up for Early Access'
  -
    href: 'https://github.com/loomnetwork/solidityx-js'
    title: 'Github'
---
<a href="https://github.com/loomnetwork/solidityx-js" class="github-corner" aria-label="View source on Github"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

<section class="solidityx-hero block pt-5 pb-4 bg-dark">
  <div class="container text-xs-left">
    <div class="block-foreground">
      <h1 class="block-title text-light  mb-5 pt-4 pb-4">SolidityX</h1>
      <p class="lead text-light col-md-4">Secure-by-default programming language that compiles to Solidity.</p>
      <p class="text-muted pb-4 col-md-4">100% Solidity Compatible. Protects against known issues by default. Performance Optimizations on Loom Network</p>
      <div class="">
        <a href="https://app.monstercampaigns.com/c/ig55ebay3gkjtbdhg0yh/" class="manual-optin-trigger btn btn-warning mt-1" data-optin-slug="ig55ebay3gkjtbdhg0yh" target="_blank"><i></i>Sign Up for Early Access</a>
      </div>
    </div>
    <div class="block-background">
      <img class="w-100" src="/images/solidityx-banner.jpg">
    </div>
  </div>
</section>

<section class="block block-inverse">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 text-center mb-2">
        <h3 class="mb-5 unbold col-md-9 mx-auto"><strong>Secure-by-default.</strong>  A typed-superset of Solidity, that compiles down with all the latest security workarounds.</h3>
      </div>
      <div class="col-md-5 order-2 order-md-2">
        <p class="lead">With billions currently riding on Solidity-based contracts, there is no doubt that it is the de-facto smart-contract programming language. With each vulnerability found, and hacks debugged, Solidity becomes more secure and its quirks better known.</p>
        <strong>SolidityX compiles to Solidity but with all the best practices and workarounds. Better the bugs you know than the bugs you don’t.</strong>
      </div>
      <div class="col-md-6 ml-auto order-1 order-md-2">
  <pre class="text-white border-1">
<span>1</span> <span class="text-info">pragma solidityx</span> ^0.4.19
<span>2</span>
<span>3</span>  <span class="text-warning">contract</span> SimpleStore {
<span>4</span>    <span class="text-warning">data</span> amount: <span class="text-info">uint</span>;
<span>5</span>    <span class="text-danger">public interface</span> set, get
<span>6</span>    <span class="text-muted">function</span> set(input : <span class="text-info">uint</span>) {
<span>7</span>      amount.set(input);
<span>8</span>    }
<span>9</span>
<span>10</span>   <span class="text-muted">function</span> get(): <span class="text-info">uint</span> constant
<span>11</span>      <span class="text-muted">return</span> amount.get()
<span>12</span>   }
<span>13</span>  }</pre>
</div>
    </div>
  </div>
</section>

<section class="block bg-dark text-white">
  <div class="container">
    <div class="row app-marketing-grid">
      <div class="col-sm-12 text-center mb-2">
        <h1 class="mb-5 unbold col-md-9 mx-auto">Intelligent defaults and formatting that is optimized for code audits and debugging. For example...</h1>
      </div>
      <div class="col-md-4 px-4">
      <code class="text-white bg-dark mb-3">
        <div><span class="text-danger">public interface</span> set, get</div>
        <div><span class="text-muted">function</span> helloWorld(): <span class="text-info">string</span></div>
      </code>
        <hr class="border-white">
        <p class="mb-3 d-block">All functions private by default, public interface declared at top of the file </p>
        <p class="text-muted">No way to expose a function by mistake, all functions are private only. The only way to expose a function would be to add it to the public interface at the beginning of a contract. This makes it easy to audit, and easy to code.</p>
      </div>
      <div class="col-md-4 px-4">
        <code class="text-white bg-dark mb-3">
          <div><span class="text-warning">contract</span> SayYourName {</div>
          <div><span class="text-danger">once</span> SetupName(name: <span class="text-info">string</span>)</div>
        </code>
          <hr class="border-white">
        <p class="mb-3 d-block">Special one-time only functions to prevent calling initializers multiple times. </p>
        <p class="text-muted">With SolidityX, the Parity Multisig hack would've never happened. <code>once</code> functions compiles into secure Solidity code that can only be executed one time.</p>
      </div>
      <div class="col-md-4 px-4">
        <code class="text-white bg-dark mb-3">
          <div><span class="text-warning">data</span> counter: <span class="text-info">uint</span>;</div>
          <div><span class="text-warning">data</span> <span class="text-danger">const</span> message: <span class="text-info">string</span>;</div>
        </code>
          <hr class="border-white">
        <p class="mb-3 d-block">Data is typed and always private. Only accessible via getters and setters.</p>
        <p class="text-muted">Do not expose variables and constants by accident. SolidityX makes it always explicit and comes with built in setters and getters</p>
      </div>
    </div>
  </div>
</section>

<section class="loom-features block-inverse block" id="features">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-11 text-center mb-5 pb-3">
        <h1 class="unbold">SolidityX has application extensions such as:</h1>
      </div>
    </div>
    <div class="row">
      <ul class="row col-12 featured-list">
        <li class="col-sm-6 mb-5">
          <div class="featured-list-icon text-primary">
            <span class="icon icon-creative-commons-noncommercial-us"></span>
          </div>
          <p class="featured-list-icon-text mb-1 text-info"><strong>String Manipulation</strong></p>
          <p class="featured-list-icon-text">Optionally embeds string manipulation library via config setting, allows native string manipulation support.</p>
        </li>
        <li class="col-sm-6 mb-5">
          <div class="featured-list-icon text-primary">
            <span class="icon icon-merge"></span>
          </div>
          <p class="featured-list-icon-text mb-1 text-info"><strong>Swarm Integration</strong></p>
          <p class="featured-list-icon-text">Can be bundled with Swarm oracles to and lets you natively refer to swarm addresses.</p>
        </li>
        <li class="col-sm-6 mb-5">
          <div class="featured-list-icon text-primary">
            <span class="icon icon-flash"></span>
          </div>
          <p class="featured-list-icon-text mb-1 text-info"><strong>IPFS Integration</strong></p>
          <p class="featured-list-icon-text">Can be bundled with IPFS oracle to natively support fetching or storing assets on IPFS</p>
        </li>
        <li class="col-sm-6 mb-5">
          <div class="featured-list-icon text-primary">
            <span class="icon icon-database"></span>
          </div>
          <p class="featured-list-icon-text mb-1 text-info"><strong>Cross-Blockchain communication</strong></p>
          <p class="featured-list-icon-text">Integrated Loom Oracles that let you refer to known-secure sidechains natively</p>
        </li>
        <li class="col-sm-6 mb-5">
          <div class="featured-list-icon text-primary">
            <span class="icon icon-database"></span>
          </div>
          <p class="featured-list-icon-text mb-1 text-info"><strong>Native Performance Enhancements on Loom Network   (future update)</strong></p>
          <p class="featured-list-icon-text">Our custom forked Ethereum Virtual Machine will offer native performance optimizations on SolidityX source code.</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<img class="w-100 flip-image block-inverse" src="/images/curve-divider-dark.svg">

<section class="block text-center block-inverse">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-4">
          SolidityX is going through rapid-development while we develope commercial-scale apps on top of Loom Network (application specific sidechains built for Ethereum) Sign up for news about when it will be public beta ready.
        </p>
        <div class="pt-5">
          <a href="https://app.monstercampaigns.com/c/ig55ebay3gkjtbdhg0yh/" class="manual-optin-trigger btn btn-warning mb-3 mx-1" data-optin-slug="ig55ebay3gkjtbdhg0yh" target="_blank">Get Early Access</a>
        </div>
      </div>
      <div class="col-md-6">
        <p class="mb-4">
          If you have language design experience, compiler experience, or have some background in javascript build tools such as BabelJS, Coffeescript, Purescript, etc., please reach out to us. We'd love to work with you on cutting edge tools that enrich the Ethereum community.
        </p>
        <div class="pt-5">
          <a class=" btn btn-info mb-3 mx-1" href="mailto:hiring@loomx.io">hiring@loomx.io</a>
        </div>
      </div>
    </div>
  </div>
</section>
